body {
    background:-moz-linear-gradient(-45deg,gray,rgb(177, 175, 175));
    font-family: 'Times New Roman', Times, serif;
}



.navszoveg {



    h1 {
        margin-bottom: 30px;
        color: #252525;
        padding: 20px;
        vertical-align: auto;
        background-color: #686868;
        border-radius: 80px;
    }

}



.fokartya {
    background-color: white;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 80px;
    margin-bottom: 50px;
    h2 {
        text-align: center;
        font-size: 50px;
    }
}


/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(58, 15, 15, 0.295);
    color: #fff;
    margin-right: 5%;
    margin-left: 5%;



    ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        margin: 10px;
        margin-right: 5%;
    }
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;

    li {
        padding: 5px 14px;
    }

    li:hover {
        background-color: #4c9e9e;
        border-radius: 5px;
        transition: 0.3s ease;
    }
}



.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;

    li+li {
        margin-top: 10px;
    }

    li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
    }

    li:hover {
        background-color: #4c9e9e;
    }
}


main {
    background-color: #f30000;
    padding-top: 5%;
    margin-top: 1%;
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 5%;
    padding-bottom: 3%; 
    border-radius: 25px;
    height: max-content;
}