body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}



.fokartya {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 80px;
    margin-bottom: 50px;

    h2 {
        text-align: center;
        font-size: 50px;
    }
}


/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: -moz-linear-gradient(-45deg, rgb(73, 73, 73), rgb(155, 155, 155));
    color: #fff;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 5px 5px 35px black;




    ul {
        padding: 0;
        list-style: none;
        display: flex;
        gap: 1rem;
        margin: 10px;
        margin-right: 5%;
    }

    &>h1 {
        font-size: 3rem;
    }
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;

    li {
        padding: 5px 14px;
    }

    li:hover {
        background-color: gray;
        border-radius: 10px;
        transition: 0.4s ease;
    }
}


main {
    background: -moz-linear-gradient(-45deg, rgb(82, 82, 82), rgb(170, 170, 170));
    padding-top: 5%;
    margin-top: 1%;
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 5%;
    padding-bottom: 3%;
    border-radius: 25px;
    height: max-content;
    box-shadow: 5px 5px 35px black;

    .szoveghatter {
        background-color: rgb(161, 161, 161);
        color: aliceblue;
        font-weight: bold;
        font-size: large;
        border-radius: 20px;
        padding: 5%;
        
        
        
    }
}